<a href="https://colab.research.google.com/github/andiishak67/basic-python/blob/main/Salinan_9_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Defining Dictionary

In [ ]:
dicts = {'a':1, 'b':4, 'c':3}
print(dicts)

{'a': 1, 'b': 4, 'c': 3}

In [ ]:
sport_team = dict([
    ('Colorado', 'Rockies'),
    ('Boston', 'Red Sox'),
    ('Minnesota', 'Twins'),
    ('Milwaukee', 'Brewers'),
    ('Seattle', 'Mariners')
])
print(sport_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}

In [ ]:
sport_team = dict(
    Colorado='Rockies',
    Boston='Red Sox',
    Minnesota='Twins',
    Milwaukee='Brewers',
    Seattle='Mariners'
)
print(sport_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}

# Accessing Dictionary

In [ ]:
sport_team[1]

KeyError: ignored



```
# This is formatted as code
```

[] access by square bracket

In [ ]:
print(sport_team['Minnesota'])
print(sport_team['Colorado'])

Twins
Rockies

Jika Anda merujuk ke key yang tidak ada dalam dictionary, Python memunculkan Exception

In [ ]:
print(sport_team['Toronto'])

KeyError: ignored

adding new entry

In [ ]:
sport_team['Kansas City'] = 'Royals'
print(sport_team)
sport_team['Seattle'] = 'Seahawks'
print(sport_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners', 'Kansas City': 'Royals'}
{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Seahawks', 'Kansas City': 'Royals'}

delete entry using del

In [ ]:
del sport_team['Seattle']
print(sport_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Kansas City': 'Royals'}

# Dictionary key vs List Indexing

In [ ]:
sport_team['Toronto']

KeyError: ignored

In [ ]:
sport_team[1]

KeyError: ignored

Faktanya, itu adalah kesalahan yang sama. Dalam kasus terakhir, [1] terlihat seperti indeks numerik, tetapi tidak.

Anda akan melihat nanti dalam tutorial ini bahwa objek dari jenis apa pun yang tidak dapat diubah dapat digunakan sebagai kunci dictionary. Oleh karena itu, tidak ada alasan Anda tidak dapat menggunakan bilangan bulat

In [ ]:
d = {0: 'a', 1: 'b', 2: 'c', 3: 'd'}
print(d)


print(d[0])

print(d[2])

{0: 'a', 1: 'b', 2: 'c', 3: 'd'}
a
c

Dalam ekspresi sport_team[1], d[0], dan d[2], angka-angka dalam tanda kurung siku tampak seperti indeks. Tetapi mereka tidak ada hubungannya dengan urutan item dalam dictionary. Python menafsirkannya sebagai kunci dictionary. Jika Anda mendefinisikan dict yang sama ini dalam urutan terbalik, Anda masih mendapatkan nilai yang sama menggunakan kunci yang sama

In [ ]:
d = {3: 'd', 2: 'c', 1: 'b', 0: 'a'}
print(d)


print(d[0])

print(d[2])

{3: 'd', 2: 'c', 1: 'b', 0: 'a'}
a
c

# Building a Dictionary Incrementally

In [ ]:
person = {}
type(person)


person['fname'] = 'Joe'
person['lname'] = 'Fonebone'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [ ]:
print(person)



print(person['fname'])

print(person['age'])

print(person['children'])

{'fname': 'Joe', 'lname': 'Fonebone', 'age': 51, 'spouse': 'Edna', 'children': ['Ralph', 'Betty', 'Joey'], 'pets': {'dog': 'Fido', 'cat': 'Sox'}}
Joe
51
['Ralph', 'Betty', 'Joey']

Mengambil nilai dalam sublist atau subdictionary memerlukan indeks atau kunci tambahan

In [ ]:
print(person['children'][-1])

print(person['pets']['cat'])

Joey
Sox

Contoh ini menunjukkan fitur lain dari dict: nilai yang terkandung dalam dict tidak harus bertipe sama. Secara pribadi, beberapa nilai adalah string, satu adalah bilangan bulat, satu adalah daftar, dan satu lagi adalah dict.

Sama seperti nilai dalam dict tidak harus bertipe sama, kuncinya juga tidak

In [ ]:
foo = {42: 'aaa', 2.78: 'bbb', True: 'ccc'}
print(foo)


print(foo[42])

print(foo[2.78])

print(foo[True])

{42: 'aaa', 2.78: 'bbb', True: 'ccc'}
aaa
bbb
ccc

Di sini, salah satu kuncinya adalah bilangan bulat, satu adalah float, dan satu lagi adalah Boolean. Tidak jelas bagaimana ini akan berguna, tetapi Anda tidak pernah tahu.

Perhatikan betapa serbagunanya dict Python. Di sport_team, informasi yang sama (nama tim bisbol) disimpan untuk masing-masing dari beberapa lokasi geografis yang berbeda. orang, di sisi lain, menyimpan berbagai jenis data untuk satu orang.

Anda dapat menggunakan dict untuk berbagai tujuan karena hanya ada sedikit batasan pada kunci dan nilai yang diizinkan.

#Restriction in Key Dictionary

In [ ]:
foo = {42: 'aaa', 2.78: 'bbb', True: 'ccc'}

d = {int: 1, float: 2, bool: 3}

d = {bin: 1, hex: 2, oct: 3}

no duplicate key

In [ ]:
sport_team = {
    'Colorado' : 'Rockies',
    'Boston'   : 'Red Sox',
    'Minnesota': 'Timberwolves',
    'Milwaukee': 'Brewers',
    'Seattle'  : 'Mariners',
    'Minnesota': 'Twins'
}
sport_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners'}

key dict must immutable

In [ ]:
d = {(1, 1): 'a', (1, 2): 'b', (2, 1): 'c', (2, 2): 'd'}
d[(1,1)]

d[(2,1)]

'c'

In [ ]:
d = {[1, 1]: 'a', [1, 2]: 'b', [2, 1]: 'c', [2, 2]: 'd'}

TypeError: ignored

#Restriction in Value Dictionary

In [ ]:
d = {0: 'a', 1: 'a', 2: 'a', 3: 'a'}
d

d[0] == d[1] == d[2]

True

# Built-in Dictionary Methods

d.clear()

d.clear() mengosongkan dict d dari semua pasangan nilai kunci

In [ ]:
d = {'a': 10, 'b': 20, 'c': 30}
print(d)


d.clear()
print(d)

{'a': 10, 'b': 20, 'c': 30}
{}

d.get(<key>[, <default>])

Metode .get() dict Python menyediakan cara mudah untuk mendapatkan nilai kunci dari dict tanpa memeriksa terlebih dahulu apakah kunci itu ada, dan tanpa memunculkan kesalahan.

d.get(<key>) mencari dict d untuk <key> dan mengembalikan nilai terkait jika ditemukan. Jika <key> tidak ditemukan, ia mengembalikan None

In [ ]:
d = {'a': 10, 'b': 20, 'c': 30}

print(d.get('b'))

print(d.get('z'))

20
None

d.items()

d.items() mengembalikan daftar tupel yang berisi pasangan nilai kunci di d. Item pertama di setiap tuple adalah kuncinya, dan item kedua adalah nilai kuncinya

In [ ]:
d = {'a': 10, 'b': 20, 'c': 30}
d


list(d.items())

list(d.items())[1][0]

list(d.items())[1][1]

20

d.keys()

d.keys() mengembalikan daftar semua kunci di d

In [ ]:
d = {'a': 10, 'b': 20, 'c': 30}
d


list(d.keys())

['a', 'b', 'c']

d.update()

In [ ]:
d1 = {'a': 10, 'b': 20, 'c': 30}
d2 = {'b': 200, 'd': 400}

d1.update(d2)
d1

{'a': 10, 'b': 200, 'c': 30, 'd': 400}

d.pop()

In [ ]:
d = {'a': 10, 'b': 20, 'c': 30}

d.pop('b')

d

{'a': 10, 'c': 30}

d.popitem()

In [ ]:
d = {'a': 10, 'b': 20, 'c': 30}

d.popitem()

print(d)


d.popitem()

print(d)

{'a': 10, 'b': 20}
{'a': 10}

#Thank you